@model Centro_Educativo.Models.ProfesoresCursos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfesoresCursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cursos.CursoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cursos.CursoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesores.ProfesorNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesores.ProfesorNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfesorCursoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
